<button
  [type]="type"
  [ngClass]="buttonClasses"
  [disabled]="disabled || loading"
  (click)="onClick($event)">

  <span *ngIf="loading" class="btn-spinner"></span>

  <span *ngIf="icon && iconPosition === 'left' && !loading" class="btn-icon btn-icon-left">
    <i [class]="icon"></i>
  </span>

  <span class="btn-content">
    <ng-content></ng-content>
  </span>

  <span *ngIf="icon && iconPosition === 'right' && !loading" class="btn-icon btn-icon-right">
    <i [class]="icon"></i>
  </span>
</button>