<div class="modal-overlay" *ngIf="isOpen" (click)="onBackdropClick()">
  <div class="modal-container" [ngClass]="modalSizeClass" (click)="onModalContentClick($event)">

    <div class="modal-header" *ngIf="showHeader">
      <ng-container *ngIf="!customHeader; else customHeaderTemplate">
        <h2 class="modal-title">{{ title }}</h2>
        <button *ngIf="showCloseButton" class="close-button" (click)="close()" aria-label="Close">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 5L5 15M5 5L15 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </ng-container>
      <ng-template #customHeaderTemplate>
        <ng-container *ngTemplateOutlet="customHeader"></ng-container>
      </ng-template>
    </div>

    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    <div class="modal-footer" *ngIf="showFooter">
      <ng-container *ngIf="!customFooter; else customFooterTemplate">
        <button class="btn btn-secondary" (click)="close()">Cancel</button>
        <button class="btn btn-primary" (click)="onConfirm()">Confirm</button>
      </ng-container>
      <ng-template #customFooterTemplate>
        <ng-container *ngTemplateOutlet="customFooter"></ng-container>
      </ng-template>
    </div>

  </div>
</div>